.botao {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 170px;
    font-weight: bolder;
}

.botao:hover {
    background-color: #fca311;
    transition: 1s;
}