@import url('./botao.css');

body {
    margin: 0;
    padding: 0;
    font-family: "Comic Relief", system-ui;
    
}

.header{
    height: 85px;
    width: 100%;
    background-color: #14213d;
    border-bottom: solid 3px #fca311;
}
.header .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    height: 100px;
    width: 100px;
}
.acessos{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-size: 20px;
    width: 300px;
}

.acessos span a{
    color: #fff;
    text-decoration: none;
}
.acessos span a:hover{
    color: #fca311;
    text-decoration:underline;
}


.containerLogin {
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/teste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.loginEmCima{
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: underline;
}

.formLogin {
    height: 300px;
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border: 2px solid #fca311;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formLogin input{
    border: 2px solid #14213d;
    width: 290px;
    height: 40px; 
    color: black;
    font-size: 1.3rem; 
    font-family: "Comic Relief", system-ui;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.8); 
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formLogin label{
    font-size: 1.3rem;
}

.alerta_erro{
    display: flex;
    justify-content: flex-start;
  }

  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #000080 4   px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  } 
